<mat-toolbar color="primary">
    <span class="title-center">Pocetna</span>
</mat-toolbar>
<mat-card class="home-card">
    <mat-card-header>
        <div mat-card-avatar class="home-header-image"></div>
      <mat-card-title>Razvoj viseslojnih aplikacija</mat-card-title>
      <mat-card-subtitle>14-IZOO22</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <p><strong>Profesor:</strong> Przulj dr Djordje<br>
             <strong>Asistent:</strong> Milos Vukmanovic<br>
            <strong> Kategorija:</strong> Naucno strucni<br>
            <strong>Naucna oblast: </strong> Informaciono-komunikacioni sistemi<br>
            <strong>Multidiscilpinarna:</strong>Ne<br>
            <strong>ESPB:</strong> 7<br></p>
    </mat-card-content>
  </mat-card>
