<mat-toolbar color="primary">
    <span class="title-center">Pocetna</span>
</mat-toolbar>
<mat-card class="home-card">
    <mat-card-header>
        <div mat-card-avatar class="home-header-image"></div>
      <mat-card-title>Razvoj viseslojnih aplikacija</mat-card-title>
      <mat-card-subtitle>14-IZOO22</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <p><strong>Profesor:</strong> Przulj dr Djordje<br>
             <strong>Asistent:</strong> Milos Vukmanovic<br>
            <strong> Kategorija:</strong> Naucno strucni<br>
            <strong>Naucna oblast: </strong> Informaciono-komunikacioni sistemi<br>
            <strong>Multidiscilpinarna:</strong>Ne<br>
            <strong>ESPB:</strong> 7<br></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>Tehnologije</mat-card-title>
    </mat-card-header>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Spring_Framework_Logo_2018.svg">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="https://angular.io/assets/images/logos/angular/angular.svg">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/320px-Node.js_logo.svg.png">
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="https://wiki.postgresql.org/images/3/30/PostgreSQL_logo.3colors.120x120.png">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Tomcat-logo.svg">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png">
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
